

$black : #000;

$white : #fff;

$bgGreen : #a6c900;

$bgYellow : #ffe552;

$bgBlue1 : #498efb;

$bgBlue2 : #60bcff;

$bgPink1 : #ff6778;

$bgPink2 : #ff66a8;

$bgLightGrey : #f2f2f2;

$bgDarkGrey : #221e1a;




$txtDarkGrey : #221e1a;

$txtWhite : #fff;

$txtBlack : #000;

$txtBrown : #332217;

$txtGrey1 : #544e4b;

$txtGrey2 : #888;





